<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add an Account</title>

    <!-- Bootstrap core CSS -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<div style="display: inline-flex;">
			<img class="img-responsive" src="../media/logo_musketeer_blanco.png" width="53" height="55" alt="Logo" align="left" style="margin: 5px 0px 0px 0px">
			&nbsp;&nbsp;&nbsp;
          <font color="#FFFFFF"><h3>Musketeer</h3></font>
		  </div>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <ul class="nav nav-pills pull-right">
				<li class="active" style="margin: 3px 0px 0px 0px"><a href="home.html">Home</a></li>
			</ul>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
<br></br>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Add Account
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 portfolio-item">
                    <img class="img-responsive" src="../media/Whatsapp-700x400.jpg">
                <h3><a href="#project-one">Whatsapp</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
		<div class="container">
		<div class="row">
        <form action="/sendNotificationCode" method="post">
            <label>Country Code</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="country_code" >
        </form>
		</div>
		<div class="row">
        <form action="/sendNotificationCode" method="post">
            <label>Telephone</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="tel" >
            <input type="submit" value="Send Activation Code">
        </form>
		</div>
		<div class="row">
        <form action="/sendNotificationCode" method="post">
            <label>Activation Code</label>
			<input name="activation_code">
            <input type="submit" value="Active">
        </div>
		</form>
		</div>
		</div>
            <div class="col-lg-6 col-md-6 portfolio-item">
                    <img class="img-responsive" src="../media/Facebook-700x400.png">
                <h3><a href="#project-two">Facebook</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; EDAMAME 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>