<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Welcome to Musketeer</title>

    <!-- Bootstrap core CSS -->
    <link href="..\media\css\bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--link href="jumbotron-narrow.css" rel="stylesheet"-->
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<div style="display: inline-flex;">
			<img class="img-responsive" src="../media/logo_musketeer_blanco.png" width="53" height="55" alt="Logo" align="left" style="margin: 5px 0px 0px 0px">
			&nbsp;&nbsp;&nbsp;
          <font color="#FFFFFF"><h3>Musketeer</h3></font>
		  </div>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <ul class="nav nav-pills pull-right">
				<li class="active" style="margin: 3px 0px 0px 0px"><a href="login.html">Log In</a></li>
			</ul>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	<br></br>
      <div class="jumbotron">
	  <div class="container">
        <h1>Welcome</h1>
        <p class="lead"><h2>Hi and welcome to Musketeer, the web messaging app that integrates all your different social media chats in one.</h2></p>
		<p class ="lead"><h2><font color = #000fff>All for one, and one for all</font></h2></p>
        <p><a class="btn btn-lg btn-success" href="signup.html" role="button">Sign up today</a></p>
      </div>
	  </div>
	  <div class="container">
      <div>
		<div class ="col-lg-6">
          <h2>What is Musketeer?</h2>
          <h4>SomeChat is a must-have web app, in which all <br></br>your conversations from facebook and Whatsapp <br></br>with one friend in just one chat.</h4>
		</div>
		<div class ="col-lg-6">
          <h2>Why should you use it?</h2>
          <h4>Musketeer lets you contact your friends in the <br></br>most practical way, it sends text messages by the <br></br>social media the recipient uses the most,<br></br> making it easier for them to see it and answer it.</h4>
		</div>
      </div>
	  <br></br>
      <div class="footer">
        <p>&copy; EDAMAME 2014</p>
      </div>
	  </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

</html>

