<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Welcome to SomeChat</title>

    <!-- Bootstrap core CSS -->
    <link href="..\media\css\bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#ingresar">Log in</a></li>
        </ul>
        <h3 class="text-muted">Somechat</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Hi and welcome to SomeChat, the web messaging app that integrates all your different social media chats in one.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div>
		<center>
          <h2>What is SomeChat</h2>
          <h4>SomeChat is a must-have web app, in which all your conversations from facebook and Whatsapp with one friend in just one chat.</h4>
          <h2>Why should you use it?</h2>
          <h4>SomeChat lets you contact your friends in the most practical way, it sends the text by the social media the recipient uses the most, making it easier for them to see and answer it.</h4>
		</center>
      </div>
      <div class="footer">
        <p>&copy; EDAMAME 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

</html>

